* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Urbanist";
	transition: 0.5s;
}

p,
li,
a {
	font-family: 'Changa', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
	font-family: "Kanit", sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
	background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #c19f37;
	border-radius: 20px;
  }

/* Original Font sizes*/
p {
	font-size: 16px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 18px;
}

/* Media Queries */
/* 1- Mobile */
@media only screen and (max-width: 600px) {
	p {
		font-size: 16px;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 18px;
	}
}

/* 2- Tablet */
@media only screen and (max-width: 768px) {
	p {
		font-size: 16px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 18px;
	}
}

.drop {
	width: 100%;
	background-color: transparent;
}

.dropdown {
	overflow: hidden;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #fff;
	background-color: inherit;
	width: 100%;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: #2196f3;
	transition: 0.5s;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2196f3;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	transition: 0.5s;
	width: 132px;
}

.dropdown-content a {
	float: none;
	color: #fff;
	padding: 0;
	text-decoration: none;
	display: block;
	text-align: center;
	transition: 0.5s;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown-content a:hover {
	background-color: #0f1a36;
	width: 100%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 100px 0 20px;
	width: 100%;
	box-sizing: border-box;
	z-index: 1000;
	transition: 0.5s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0c0c0c;
	direction: rtl;
}

nav {
	display: flex;
	align-items: center;
	height: 100%;
}

header .logo {
	height: 50px;
	font-size: 40px;
	float: left;
	
}

header nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	transition: 0.5s;
}

header nav ul li {
	list-style: none;
	transition: 0.5s;
}

header nav ul li a {
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	display: block;
	transition: 0.5s;
}

header nav ul li a.active,
header nav ul li a:hover {
	color: #fff;
	background: #b79632;
	transition: 0.5s;
}

header .menu-toggle {
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.toggle{
	display: none;
	height: 25px;
	width: 25px;
	
}

.act {
	background-color: #b79632;
}

/* footer */

.footer {
	width: 100%;
	height: auto;
	font-family: "Urbanist", sans-serif;
	z-index: 998 !important;
	position: relative;
	border-top-left-radius: 50px;
	direction: rtl;
}

.footer-main {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-light {
	background-color: #0c0c0c;
	color: white;
}

.footer-content {
	width: 90%;
	height: auto;
	padding: 30px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.footer-about,
.footer-contact,
.footer-working {
	width: 350px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-top: 50px;
}

.about-logo {
	width: 150px;
	height: 75px;
	margin-bottom: 30px;
	object-fit: cover;
}

.about-p {
	width: 90%;
	text-align: center;
}

.working-data p {
	width: 180px;
}

.working-hours {
	margin-bottom: 40px;
	text-align: center;
}

.footer-contact h3,
.footer-working h3 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 25px;
	font-family: 'Changa';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	text-transform: uppercase;
	color: #b79632;
}

.working-hours h4,
.vacations h4 {
	margin-bottom: 10px;
	text-align: center;
	direction: ltr;
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 600;
	
}

.contact-logo {
	width: 25px;
	height: 25px;
}

.social {
	display: flex;
}

.facebook-logo,
.instagram-logo,
.map-logo {
	width: 25px;
	height: 25px;
	z-index: 2;
}

.work-logo,
.vacation-logo {
	width: 40px;
	height: 40px;
	margin: 0 10px 0 0;
}

.working-data {
	text-align: center;
}

.info {
	display: flex;
	align-items: center;
}

.social-circle {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	position: relative;
	outline: none;
	border: none;
	overflow: hidden;
}

.clip-circle {
	width: 55px;
	height: 55px;
	border-radius: 100%;
	position: absolute;
	z-index: 1;
	clip-path: circle(0px at 50% 50%);
	outline: none;
	border: none;
	transition: all 0.5s ease-out;
}

.facebook {
	background-color: blue;
}

.instagram {
	background: linear-gradient(to bottom right, deeppink, purple);
}

.maps {
	background: greenyellow;
}

.social-circle:hover .clip-circle {
	clip-path: circle(60px at 50% 50%);
	transition: all 0.7s ease-out;
}

.phone,
.adress {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.phone p {
	margin-right: 10px;
	direction: ltr;
}

.adress {
	text-align: center;
	width: 70%;
}

.hr {
	width: 100%;
	height: 1px;
	background-color: white;
}

.copyrights {
	padding: 20px 0;
	font-size: 15px;
	text-align: center;
}

/* Languages btns */

.lang {
	font-size: 10px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	width: auto;
	min-width: 100px;
	color: white;
	padding-top: 5px;
}

.lang p {
	font-size: 13px !important;
}

.flags img {
	width: 30px;
	height: 25px;
	overflow: hidden;
	margin: 2px;
	padding: 0%;
	border-radius: 20px;
}

.flags {
	height: 30px;
	overflow: hidden;
}

@media (max-width: 800px) {
	header {
		padding: 0 20px;
		transition: 0.5s;
		height: auto;
	}

	.menu-toggle {
		display: block;
		transition: 0.5s;
	}
	.toggle{
		display: block;
		transition: 0.5s;
	}

	header nav {
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: rgb(22, 22, 22);
		top: 50px;
		left: -100%;
		transition: 0.5s;
		flex-direction: column;
		justify-content: flex-start;
	}

	header nav.active {
		left: 0;
		transition: 0.5s;
	}

	.lang p {
		font-size: 18px !important;
	}

	.flags img {
		width: 45px;
		height: 40px;
	}

	.flags {
		height: 40px;
	}

	header nav ul {
		display: block;
		text-align: center;
		transition: 0.5s;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	header .menu-toggle {
		display: block;
		transition: 0.5s;
	}
	.toggle{
		display: block;
		transition: 0.5s;
	}

	header nav ul a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		transition: 0.5s;
		font-size: 18px;
	}

	.dropdown .dropbtn {
		font-size: 18px;
	}

	.dropdown-content {
		width: 100%;
	}

	.dropdown-content a {
		text-align: center;
		font-size: 18px;
	}
}
